@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    }
    body {
      overflow: hidden;
      margin: 0;
      box-sizing: content-box;
    }
    .dark{
      color-scheme: dark;
    }      
}

.dashtemplate{
  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "footer main";
  grid-template-columns: 20% 80%;
  grid-template-rows: 70px calc(100vh - 156px) 100px;
}

.sidebar{
  grid-area: sidebar; 
}

.header{
  grid-area: header;
}

.main{
  grid-area: main;
  overflow-y: auto;
}

.footer{
  grid-area: footer;
}

main{
  background: linear-gradient(-135deg, #424685, #68488a);
}